<ion-header>

  <ion-navbar>
    <ion-title>Games</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item color="darkThemeBackground">
    <ion-toggle (click)="toggleCheck()"></ion-toggle>
    <ion-label>
      Afficher les favoris
    </ion-label>
    <ion-icon name='favorite' item-start></ion-icon>
  </ion-item>
  <div *ngIf="showAll">
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let game of games">
          <!--Liste des jeux-->
          <div class="gameBackground" (click)="changeFavoris(game); getGames()">

            <!-- Afficher favoris -->
            <div class="favoris">
              <ion-icon class="bookmark" name="bookmark"></ion-icon>
              <!-- Afficher si favoris -->
              <ion-icon class="heart" name="heart" *ngIf="game.Favori"></ion-icon>
              <!-- Afficher si pas favoris -->
              <ion-icon class="heart" name="heart-outline" *ngIf="!game.Favori"></ion-icon>
            </div>

            <img [src]="game.CheminImage">
            <p text-center>{{game.Titre}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="showFavorite">
    <ion-grid>
      <ion-row>
        
        <ion-col col-6 *ngFor="let game of games">
          <ng-container *ngIf="game.Favori">
            <!--Liste des jeux-->
            <div class="gameBackground" (click)="changeFavoris(game)">

              <!-- Afficher favoris -->
              <div class="favoris">
                <ion-icon class="bookmark" name="bookmark"></ion-icon>
                <!-- Afficher si favoris -->
                <ion-icon class="heart" name="heart" *ngIf="game.Favori"></ion-icon>
                <!-- Afficher si pas favoris -->
                <ion-icon class="heart" name="heart-outline" *ngIf="!game.Favori"></ion-icon>
              </div>

              <img [src]="game.CheminImage">
              <p text-center>{{game.Titre}}</p>
            </div>
          </ng-container>
        </ion-col>
          
</ion-row>
    </ion-grid>
  </div>
</ion-content>
