.tournamentBackground {
  background-color: #212429;
  border-radius: 2%;
  width: 150px;
  //display:inline;
  text-align:center;
  color:gold;
}

.tournamentBackground > p{
  margin-top: 1%;
  padding-bottom: 4%;
}

.tournamentTitle{
  font-size:20px;
  margin-left:4px;
}

.tournamentTime {
  padding-top: 10px;
  font-size: 12px;
  margin-left: 4px;
}

.calendar {
  color: gold;
  margin-right: 10px;
  margin-left: 4px;
}

.tournamentLoc {
  padding-top: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 4px;
}

.loc {
  margin-right: 10px;
  color: dodgerblue;
  margin-left: 4px;
  padding-bottom:10px;
}

#imgJeu{
  //padding-left:2%;
  width: 140px;
}

#texteTournois {
  font-size: 30px;
  background-color: #212429;
  border-radius:10px;
  text-align:center;
}
