page-options-change-info {
}

.infosUser {
  font-size: 15px;
}

.itemUser {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

.pass {
  color: black;
  border-radius: 5px;
}

.changePass {
  font-weight: bold;
  font-size: large;
}

.sendInfos {
  width: 100px;
  height: 50px;
  background-color: burlywood;
  border-radius: 10px;
  font-weight: bold;
}

label {
  display: block;
  width: 100px;
  float: left;
}
